$colorHighlight: #a5bde5;
$colorBorder: #333333;

.autosuggest {
	width: 200px;
}

.autosuggest__input {
	border: 1px solid $colorBorder;
	padding-top: 0.3em;
	padding-bottom: 0.3em;

	&:focus {
		outline: none;
	}
}

.autosuggest__input, .autosuggest__item {
	box-sizing: border-box;

	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.autosuggest__dropdown {
	position: relative;

	transition: opacity 0.5s ease-out;
	opacity: 1;

	border: 1px solid $colorBorder;
	border-top: none;

	&.loading {
		min-height: 22px;
		// width: 100%;

		&:before {
			display: block;
			content: '';
			background: none, url('./spinner.svg') no-repeat;

			position: absolute;
			right: 3px;

			width: 22px;
			height: 22px;			

			@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
		   		/* IE10+ specific styles go here */
		   		background: url('./spinner.gif') no-repeat
			}
		}
	}

	
}

.autosuggest__item {
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	cursor: pointer;
	
	&.selected, &:hover {
		background-color: $colorHighlight;
	}
}