$colorHighlight: #a5bde5;
$colorBorder: #333333;

.autosuggest {
	width: 200px;
}

.autosuggest__input {
	border: 1px solid $colorBorder;
	padding-top: 0.3em;
	padding-bottom: 0.3em;

	&:focus {
		outline: none;
	}
}

.autosuggest__input, .autosuggest__item {
	box-sizing: border-box;

	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.autosuggest__dropdown {
	transition: opacity 0.5s ease-out;
	opacity: 1;

	border: 1px solid $colorBorder;
	border-top: none;
}

.autosuggest__item {
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	cursor: pointer;
	
	&.selected, &:hover {
		background-color: $colorHighlight;
	}
}